.contenedor-elevador {
  display: flex;
  justify-content: space-around;
}

.contenedor-elevador .elevator {
  flex-basis: 75%;
  text-align: center;
}

.contenedor-elevador .botones {
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex-basis: 25%;
  gap: 10px;
  align-items: center;
}

.contenedor-elevador .botones button {
  border: none;
  width: 36px;
  height: 36px;
  background-color: gray;
  border-radius: 50%;
  color: white;
}

.contenedor-elevador .botones button:hover{
  background-color: rgb(92, 91, 91);
}

.contenedor-elevador .botones .selected {
  border: yellow solid 1px;
  color: yellow;
}

.contenedor-elevador .elevator-doors {
  height: 150px;
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
}

